@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer base {
  body {
    @apply text-gray-900 bg-gray-50;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 transition-all duration-300;
  }
  .btn-secondary {
    @apply bg-secondary-500 hover:bg-secondary-600 focus:ring-secondary-400;
  }
  .card {
    @apply bg-white rounded-xl shadow-lg overflow-hidden transition-all duration-300 hover:shadow-xl hover:-translate-y-1;
  }
  .section-title {
    @apply text-4xl font-bold mb-12 text-center text-primary-800 relative;
  }
  .section-title::after {
    content: "";
    @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 w-24 h-1 bg-primary-500 rounded-full;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500;
  }
}



.text-primary-400{
  color: #ff7bac;
}
.text-primary-700 {
  color: rgb(140 198 63 / var(--tw-text-opacity, 1));
}
.section-title::after {
  bottom: -14px;
  background-color: rgb(105 192 255 / var(--tw-bg-opacity, 1));
}
.bg-primary-500 {
  background-color: rgb(140 198 63 / var(--tw-bg-opacity, 1));
}
.text-primary-500 {
  color: rgb(140 198 63 / var(--tw-text-opacity, 1));
}
.from-primary-700 {
  --tw-gradient-from: #8cc63f var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(140 198 63 / 0) var(--tw-gradient-to-position);
}
.text-primary-300 {
  color: rgb(255 123 172 / var(--tw-text-opacity, 1));
}
.text-primary-600 {
  color: rgb(140 198 63 / var(--tw-text-opacity, 1));
}
.section-title {
  color: rgb(140 198 63 / var(--tw-text-opacity, 1));
}


.from-black\/40 {
  --tw-gradient-from: rgb(31 73 119 / 0.4) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(31 73 119 / 0.2) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.text-shadow {
  text-shadow: 2px 2px 2px rgba(31, 73, 119, 0.2);
}
.bg-gray-900 {
  margin: 0;
}
h1{
  letter-spacing: 1px;
  line-height: 1.25 !important;
}
.text-xl {
  line-height: 2 !important;
}
.h-\[80vh\] {
  height: 90vh;
}
.memo{
  text-align: center;
  color: #1f4977;
  margin-top: 20px;
}